<div class="row">
    <div class="col s12">
        <h3>
            User <small class="text-muted grey-text">/ Webhooks</small>
        </h3>
    </div>
    <div class="col s12">
        <blockquote>
            After we process and complete your request you will be notified via webhook depending on the type of
            request.
            Dedicated resources enable you to specify new webhooks, list webhook events and clear missed webhook events.
            For testing purposes you can use a service like <a href="https://hookbin.com/"
                target="_blank">hookbin.com</a>.
        </blockquote>
    </div>
    <div class="col s12">
        <button id="webhookActionsDropdownButton" class="custom-fas-btn dropdown-trigger btn grey lighten-1 mr-2"
            data-target="webhookActionsDropdownTarget">
            Actions <i class="fas fa-caret-down"></i>
        </button>
        <!-- Dropdown Structure -->
        <ul id="webhookActionsDropdownTarget" class="dropdown-content">
            <li (click)="deleteSelected()"><a class="red-text">
                    <i class="far fa-trash-alt"></i> Delete selectd</a>
            </li>
        </ul>

        <button class="btn waves-effect waves-light" type="button" (click)="openModal()">
            Create
        </button>
        <!-- Modal Structure -->
        <div id="webhookModalContainer" class="modal modal-fixed-footer">
            <app-user-webhook-modal [webhook]="currentWebhook" (saveEmitter)="addOrUpdate($event)"></app-user-webhook-modal>
        </div>

        <button class="custom-fas-btn waves-effect waves-light btn-flat right" (click)="refresh()">
            <i class="fas fa-redo-alt"></i>
        </button>
    </div>
    <div class="col s12">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" class="filled-in" [(ngModel)]="isChecked"
                                (click)="toggleCheckbox()" />
                            <span class="mt-10"></span>
                        </label>
                    </th>
                    <th>Id</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Url</th>
                    <th>API version</th>
                    <th>Enabled events</th>
                    <th>UserId</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let webhook of webhooks.values()" [webhook]="webhook" (openModalEmitter)="openModal($event)" app-user-webhook></tr>
            </tbody>
        </table>
    </div>
    <div class="col s12">
        <div *ngIf="webhooks.values().length <= 0">
            <div class="card mt-3">
                <div class="card-content">
                    <p class="caption wrapword full-width custom-card-content-caption">
                        <i class="fas fa-info-circle"></i> No webhook found.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>