
@{
    ViewData["Title"] = "Login";
}

<div class="text-center mt-5 mb-4">
    <img class="mb-4" src="~/assets/images/ami_logo_combined.png" alt="" width="600">
</div>

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="alert alert-success" role="alert">
        You are logged in.
    </div>
}
else
{
    <form class="form-signin" ng-submit="login()">
        <label for="inputUsername" class="sr-only">Username</label>
        <input ng-model="user.username" type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="" autocomplete="off">
        <label for="inputPassword" class="sr-only">Password</label>
        <input ng-model="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="" autocomplete="off">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    <div class="alert alert-danger my-5" role="alert" ng-if="error">
        <h4 class="alert-heading">{{error.error}}</h4>
        <p>{{error.stackTrace}}</p>
    </div>
}

