<h3>
  Admin <small class="text-muted grey-text">/ Logs</small>
  <button class="custom-fas-btn waves-effect waves-light btn-flat right" (click)="refresh()">
    <i class="fas fa-redo-alt"></i>
  </button>
</h3>
<div *ngIf="items.length <= 0; else showAppLogsBlock">
  <div class="card">
    <div class="card-content">
      <p class="caption wrapword full-width custom-card-content-caption">
        <i class="fas fa-info-circle"></i> No application logs found.
      </p>
    </div>
  </div>
</div>
<ng-template #showAppLogsBlock>
  <div *ngFor="let item of items">
    <div class="card mb-4">
      <div class="card-content grey lighten-4">
        <div class="card-title text-ellipsis">
          <b>
            <i class="far fa-calendar"></i> {{getLocalDate(item.timestamp)}}
            <i class="far fa-clock"></i> {{getLocalTime(item.timestamp)}}
          </b>
          {{item.sourceContext}}
        </div>
      </div>
      <div class="card-content">
        <div>
          <h5 class="mt-0">Level</h5>
          <p>{{!!item.level ? item.level : 'Information'}}</p>
        </div>
        <div class="wrapword" *ngIf="!!item.message">
          <h5>Message</h5>
          <p>{{item.message}}</p>
        </div>
        <div class="custom-card-content-overflow-item" *ngIf="!!item.exception">
          <h5>Exception</h5>
          <pre><code>{{item.exception}}</code></pre>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2 right-align">
    <paginator [pageIndex]="pageEvent.pageIndex" [length]="pageEvent.length" [pageSize]="pageEvent.pageSize"
               (page)="setPage($event)"></paginator>
  </div>
</ng-template>
