<h3>
    Admin <small class="text-muted grey-text">/ Workers</small>
    <button class="custom-fas-btn waves-effect waves-light btn-flat right" (click)="refresh()">
        <i class="fas fa-redo-alt"></i>
    </button>
</h3>

<table class="responsive-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Activity</th>
            <th>Queue Count</th>
            <th>Current Duration</th>
            <th>Last Duration</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let worker of queueWorkers.values()">
            <td>
                <app-common-guid-badge [guid]="worker.id"></app-common-guid-badge>
            </td>
            <td>
                <app-common-trim [text]="worker.workerName" [length]="25"></app-common-trim>
            </td>
            <td>
                {{getLocalDate(worker.lastActivityDate)}} {{getLocalTime(worker.lastActivityDate)}}
            </td>
            <td>{{worker.count}}</td>
            <td>{{worker.currentProcessingTime}}</td>
            <td>{{worker.lastProcessingTime}}</td>
            <td>{{worker.workerStatus}}</td>
        </tr>
    </tbody>
</table>

<table class="responsive-table mt-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Activity</th>
            <th>Next Activity</th>
            <th>Current Duration</th>
            <th>Last Duration</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let worker of recurringWorkers.values()">
            <td>
                <app-common-guid-badge [guid]="worker.id"></app-common-guid-badge>
            </td>
            <td>
                <app-common-trim [text]="worker.workerName" [length]="25"></app-common-trim>
            </td>
            <td>
                {{getLocalDate(worker.lastActivityDate)}} {{getLocalTime(worker.lastActivityDate)}}
            </td>
            <td>
                {{getLocalDate(worker.nextActivityDate)}} {{getLocalTime(worker.nextActivityDate)}}
            </td>
            <td>{{worker.currentProcessingTime}}</td>
            <td>{{worker.lastProcessingTime}}</td>
            <td>{{worker.workerStatus}}</td>
        </tr>
    </tbody>
</table>