<div class="row no-margin valign-wrapper">
  <div class="col s8 no-padding wrapword">
    <blockquote>
      <dl class="dl-horizontal">
        <dt>Task</dt>
        <dd>
          <span class="new badge grey lighten-1" data-badge-caption="">
            7ea0483f
          </span>
        </dd>
        <dt>Date added</dt>
        <dd>10.06.2019 14:38:00</dd>
        <dt>Date modified</dt>
        <dd>10.06.2019 14:38:12</dd>
        <dt>Status</dt>
        <dd>Queued</dd>
        <dt>Position</dt>
        <dd>12</dd>
      </dl>
    </blockquote>
  </div>
  <div class="col s4 valign-wrapper">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
