<div class="row no-margin valign-wrapper">
  <div class="col s12 m8 no-padding wrapword">
    <blockquote>
      <dl class="dl-horizontal">
        <dt>Task</dt>
        <dd>
          <app-common-guid-badge [guid]="task.id"></app-common-guid-badge>
        </dd>
        <dt>Date added</dt>
        <dd>{{momentUtil.getLocalDate(task.createdDate)}} {{momentUtil.getLocalTime(task.createdDate)}}</dd>
        <dt>Date modified</dt>
        <dd>{{momentUtil.getLocalDate(task.modifiedDate)}} {{momentUtil.getLocalTime(task.modifiedDate)}}</dd>
        <dt>Status</dt>
        <dd>{{displayTaskStatus()}}</dd>
      </dl>
      <dl class="dl-horizontal" *ngIf="task.position > 0">
        <dt>Position</dt>
        <dd>{{task.position}}</dd>
      </dl>
    </blockquote>
  </div>
  <div class="col s12 m4 valign-wrapper wrapword">
    <div *ngIf="showSpinner()">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="command && !showSpinner()">
      <div class="custom-small">
        <ul>
          <li><b>Image size</b> {{command.desiredSize}}</li>
          <li><b>Amount per axis</b> {{command.amountPerAxis}}</li>
          <li><b>Axis types</b> {{displayAxisTypes}}</li>
          <li><b>Convert to grayscale</b> {{command.grayscale}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div *ngIf="task.result">
  <app-processing-result [result]="task.result"></app-processing-result>
</div>
