<div class="row no-margin valign-wrapper">
  <div class="col s8 no-padding wrapword">
    <blockquote>
      <dl class="dl-horizontal">
        <dt>Task</dt>
        <dd>
          <app-common-guid-badge [guid]="task.id"></app-common-guid-badge>
        </dd>
        <dt>Date added</dt>
        <dd>{{momentUtil.getLocalDate(task.createdDate)}} {{momentUtil.getLocalTime(task.createdDate)}}</dd>
        <dt>Date modified</dt>
        <dd>{{momentUtil.getLocalDate(task.modifiedDate)}} {{momentUtil.getLocalTime(task.modifiedDate)}}</dd>
        <dt>Status</dt>
        <dd>{{task.status}}</dd>
        <dt>Position</dt>
        <dd>{{task.position}}</dd>
      </dl>
    </blockquote>
  </div>
  <div class="col s4 valign-wrapper">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-processing-result></app-processing-result>
