<div *ngIf="results.length <= 0; else showObjectResultsBlock">
  <div class="card">
    <div class="card-content">
      <p class="caption">
        <i class="fas fa-info-circle"></i> No objects/results found. Start by uploading files.
      </p>
    </div>
  </div>
</div>
<ng-template #showObjectResultsBlock>
  <div class="row mb-0">
    <div class="col s12 m6 offset-m3">
      <button class="btn waves-effect waves-light full-width custom-fas-btn">
        <i class="fas fa-rocket"></i> PROCESS
      </button>
    </div>
  </div>
</ng-template>
