<td>
  <label>
    <input type="checkbox" class="filled-in" checked="checked" />
    <span></span>
  </label>
</td>
<td>
  {{object.originalFilename}}
  <p>

  </p>
</td>
<td>2019-05-17T07:52:41.4700000Z</td>
<td>
  <button [id]="dropdownButtonGuid" class="custom-fas-btn dropdown-trigger btn-flat" [attr.data-target]="dropdownTargetGuid">
    <i class="fas fa-bars"></i>
  </button>
  <!-- Dropdown Structure -->
  <ul [id]="dropdownTargetGuid" class="dropdown-content">
    <li (click)="download()"><a href="javascript:void(0)"><i class="fas fa-file-download"></i> Download</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="javascript:void(0)"><i class="far fa-trash-alt"></i> Delete</a></li>
  </ul>
</td>
