<div class="custom-section">
  <div class="card">
    <div class="card-content">
      <p class="caption wrapword full-width custom-card-content-caption">
        <i class="fas fa-info-circle"></i> Depending on the file format, please consider creating a ZIP archive before uploading.
      </p>
    </div>
    <div class="row">
      <div class="col s12 m6 center mb-2">
        <img class="responsive-img" src="assets/images/formats/file_format_dicom.png" />
      </div>
      <div class="col s12 m6 center mb-2">
        <img class="responsive-img" src="assets/images/formats/file_format_itk.png" />
      </div>
    </div>
  </div>
</div>

<div class="angular-material-datatransfer">
  <angular-material-datatransfer>Loading...</angular-material-datatransfer>
</div>
