<td>
  <label>
    <input type="checkbox" class="filled-in" [(ngModel)]="object.isChecked" />
    <span></span>
  </label>
</td>
<td>
  <div class="row">
    <div class="col s8 no-padding">
      <span class="wrapword">
        <app-common-guid-badge [guid]="object.id"></app-common-guid-badge>
        {{object.originalFilename}}
      </span>
    </div>
    <div class="col s4">
      <span class="wrapword">
        <i class="far fa-calendar-alt"></i> {{momentUtil.getLocalDate(object.modifiedDate)}}
        <i class="far fa-clock"></i> {{momentUtil.getLocalTime(object.modifiedDate)}}
      </span>
    </div>
  </div>
  <div *ngIf="object.latestTask">
    <app-processing-task [task]="object.latestTask"></app-processing-task>
  </div>
</td>
<td>
  <button [id]="dropdownButtonGuid" class="custom-fas-btn dropdown-trigger btn-flat" [attr.data-target]="dropdownTargetGuid">
    <i class="fas fa-bars"></i>
  </button>
  <!-- Dropdown Structure -->
  <ul [id]="dropdownTargetGuid" class="dropdown-content">
    <li (click)="download()"><a href="javascript:void(0)"><i class="fas fa-file-download"></i> Download</a></li>
    <li class="divider" tabindex="-1"></li>
    <li (click)="delete()"><a href="javascript:void(0)"><i class="far fa-trash-alt"></i> Delete</a></li>
  </ul>
</td>
