<div class="section">
  <div class="logo-banner center">
    <img class="responsive-img" src="assets/images/ami_logo_combined.png" width="600" />
  </div>
</div>
<div class="custom-section" *ngIf="connectionState !== 'Connected'">
  <div class="card">
    <div class="card-content">
      <p class="caption wrapword full-width custom-card-content-caption">
        <i class="fas fa-info-circle"></i> Server is not reachable.
      </p>
    </div>
  </div>
</div>
<div class="custom-section">
  <ul class="collapsible expandable custom-collapsible">
    <li class="active">
      <div class="collapsible-header">
        <span class="valign-wrapper"><i class="fas fa-sliders-h"></i> Settings</span>
        <i class="material-icons caret right">keyboard_arrow_right</i>
      </div>
      <div class="collapsible-body">
        <app-processing-settings></app-processing-settings>
      </div>
    </li>
    <li class="active">
      <div class="collapsible-header">
        <span class="valign-wrapper"><i class="far fa-images"></i> Results</span>
        <i class="material-icons caret right">keyboard_arrow_right</i>
      </div>
      <div class="collapsible-body">
        <app-processing-objects></app-processing-objects>
      </div>
    </li>
    <li class="active">
      <div class="collapsible-header">
        <span class="valign-wrapper"><i class="fas fa-exchange-alt fa-sm"></i> Upload/Download</span>
        <i class="material-icons caret right">keyboard_arrow_right</i>
      </div>
      <div class="collapsible-body">
        <app-datatransfer></app-datatransfer>
      </div>
    </li>
  </ul>
</div>