<div class="section">
  <div class="logo-banner center">
    <img class="responsive-img" src="assets/images/ami_logo_combined.png" width="600" />
  </div>
</div>
<div class="custom-section">
  <ul class="collapsible expandable custom-collapsible">
    <li class="active">
      <div class="collapsible-header">
        <span>Settings</span>
        <i class="material-icons caret right">keyboard_arrow_right</i>
      </div>
      <div class="collapsible-body">
        <app-process-object-settings></app-process-object-settings>
      </div>
    </li>
    <li class="active">
      <div class="collapsible-header">
        <span>Objects</span>
        <i class="material-icons caret right">keyboard_arrow_right</i>
      </div>
      <div class="collapsible-body">
        <app-object-results></app-object-results>
      </div>
    </li>
    <li class="active">
      <div class="collapsible-header">
        <span>Upload/Download</span>
        <i class="material-icons caret right">keyboard_arrow_right</i>
      </div>
      <div class="collapsible-body">
        <app-datatransfer></app-datatransfer>
      </div>
    </li>
  </ul>
</div>
