<div class="row no-margin">
  <div class="col s12 xl7 no-padding">
    <blockquote>
      <dl class="dl-horizontal">
        <dt>Task</dt>
        <dd>
          <app-common-guid-badge [guid]="task.id"></app-common-guid-badge>
        </dd>
      </dl>
      <dl class="dl-horizontal" *ngIf="!task.queuedDate">
        <dt>Created</dt>
        <dd>{{momentUtil.getLocalDate(task.createdDate)}} {{momentUtil.getLocalTime(task.createdDate)}}</dd>
      </dl>
      <dl class="dl-horizontal" *ngIf="task.queuedDate">
        <dt>Queued</dt>
        <dd>{{momentUtil.getLocalDate(task.queuedDate)}} {{momentUtil.getLocalTime(task.queuedDate)}}</dd>
      </dl>
      <dl class="dl-horizontal" *ngIf="task.startedDate">
        <dt>Started</dt>
        <dd>{{momentUtil.getLocalDate(task.startedDate)}} {{momentUtil.getLocalTime(task.startedDate)}}</dd>
      </dl>
      <dl class="dl-horizontal" *ngIf="task.endedDate">
        <dt>Ended</dt>
        <dd>{{momentUtil.getLocalDate(task.endedDate)}} {{momentUtil.getLocalTime(task.endedDate)}}</dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Status</dt>
        <dd>{{displayTaskStatus()}}</dd>
      </dl>
      <dl class="dl-horizontal" *ngIf="task.message">
        <dt>Message</dt>
        <dd>{{task.message}}</dd>
      </dl>
      <dl class="dl-horizontal" *ngIf="task.position > 0">
        <dt>Position</dt>
        <dd>{{task.position}}</dd>
      </dl>
    </blockquote>
  </div>
  <div class="col s12 xl5 no-padding">
    <div *ngIf="showSpinner()">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="command && !showSpinner()">
      <blockquote>
        <dl class="dl-horizontal">
          <dt>Image size</dt>
          <dd>{{command.outputSize}}</dd>
          <dt>Amount per axis</dt>
          <dd>{{command.amountPerAxis}}</dd>
          <dt>Axis types</dt>
          <dd>{{displayAxisTypes}}</dd>
          <dt>Convert to grayscale</dt>
          <dd>{{command.grayscale}}</dd>
        </dl>
      </blockquote>
    </div>
  </div>
</div>
<div *ngIf="task.result">
  <app-processing-result [result]="task.result" [command]="task.command"></app-processing-result>
</div>