.collapsible.custom-collapsible .collapsible-header {
  padding: 24px;
  justify-content: space-between;
  transition: border 0s linear .3s;
}

.custom-collapsible .horizontal-label {
  margin-right: 20px;
}

.custom-collapsible .lever {
  margin-left: 0 !important;
}
