.full-width {
  width: 100%;
  max-width: 100%;
}


/* wrap long words without spaces
-------------------------------------------------- */
.wrapword {
  display: inline-block;
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* css-3 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}

.text-center {
  text-align: center;
}

/* render an ellipsis ("...") to represent clipped text
    http://www.quirksmode.org/css/textoverflow.html
-------------------------------------------------- */
.text-ellipsis {
  @include text-ellipsis($width: 100%);
}
