.object-table-container {
  position: relative;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.object-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.object-table .column-first {
  width: 50px;
}

.object-table .column-main {
  width: 100%;
}

.object-table .column-last {
  width: 50px;
}

.object-table > tbody > tr > td {
  vertical-align: top !important;
}
