<div class="login-page">
    <div class="content">
        <div class="card login-card">
            <div class="card-content mb-0">
                <form (keydown.enter)="login" [formGroup]="loginFormGroup">
                    <div class="center">
                        <img class="responsive-img" src="assets/images/ami_logo_combined.png" width="600" />
                    </div>
                    <div class="input-field">
                        <input id="username" type="text" class="validate" autocomplete="off" formControlName="username">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field">
                        <input id="password" type="password" class="validate" autocomplete="off"
                            formControlName="password">
                        <label for="password">Password</label>
                    </div>
                    <div class="mt-10">
                        <button type="submit" class="btn waves-effect waves-light full-width" name="action" [clickFn]="login" appClickOnce>
                            LOG IN
                        </button>
                    </div>
                </form>
                <div class="mt-10">
                    <button type="button" class="btn waves-effect waves-light grey lighten-1 full-width"
                        [clickFn]="anonymous" appClickOnce>ANONYMOUS</button>
                </div>
            </div>
        </div>
    </div>
</div>
