<nav role="navigation">
  <div class="nav-wrapper container">
    <!-- <a id="logo-container" href="#" class="brand-logo">AMI</a> -->
    <a href="https://github.com/niklr/animated-medical-imaging" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-github"></i>
    </a>
    <ul class="right hide-on-med-and-down">
      <ng-template [ngTemplateOutlet]="TopnavEntries"></ng-template>
      <li>
        <a id="dropdown-account-button" class="dropdown-trigger" href="javascript:void(0)"
          data-target="dropdown-account-target">
          <i class="fas fa-user"></i>
        </a>
      </li>
    </ul>
    <ul id="nav-mobile" class="sidenav" style="transform: translateX(-105%);">
      <ng-template [ngTemplateOutlet]="TopnavEntries"></ng-template>
      <li><a class="subheader">Account</a></li>
      <ng-template [ngTemplateOutlet]="AccountEntries"></ng-template>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<!-- Dropdown Structure -->
<ul id="dropdown-account-target" class="dropdown-content">
  <ng-template [ngTemplateOutlet]="AccountEntries"></ng-template>
</ul>

<ng-template #TopnavEntries>
  <li *ngIf="isAdmin">
    <a [routerLink]="['/admin/logs']">Admin</a>
  </li>
  <li *ngIf="isAuthenticated">
    <a href="javascript:void(0)">
      <app-common-guid-badge [guid]="identity.sub"></app-common-guid-badge>
    </a>
  </li>
</ng-template>

<ng-template #AccountEntries>
  <li *ngIf="isAuthenticated" class="disabled">
    <a href="javascript:void(0)">
      &nbsp;{{identity.username}}
    </a>
  </li>
  <li (click)="logout()" *ngIf="showLogout">
    <a href="javascript:void(0)">
      <i class="fas fa-power-off"></i>&nbsp;Logout
    </a>
  </li>
  <li *ngIf="showLogin">
    <a [routerLink]="['/login']">
      <i class="fas fa-sign-in-alt"></i>&nbsp;Login
    </a>
  </li>
</ng-template>