<div class="section">
    <div class="logo-banner center">
        <img class="responsive-img" src="assets/images/ami_logo_combined.png" width="600" />
    </div>
</div>
<div class="custom-section">
  <div class="row">
    <div class="col s12">
      <app-admin-workers></app-admin-workers>
    </div>
    <div class="col s12 mt-5">
      <ul id="adminTabs" class="tabs">
        <li class="tab col s3"><a class="active" href="#logs">Logs</a></li>
        <li class="tab col s3"><a href="#events">Events</a></li>
      </ul>
    </div>
    <div id="logs" class="col s12">
      <app-admin-logs></app-admin-logs>
    </div>
    <div id="events" class="col s12">
      <app-admin-events></app-admin-events>
    </div>
  </div>
</div>
